.ProductList {
  &__root {
    display: grid;
    gap: 2rem;

    grid-template-columns: 1fr 1fr 1fr;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
